
@font-face {
  font-family: 'Violet';
  src: url('Violet.eot?#iefix') format('embedded-opentype'),  url('Violet.woff') format('woff'), url('Violet.ttf')  format('truetype'), url('Violet.svg#Violet') format('svg');
  font-weight: normal;
  font-style: normal;
}
